.container {
  max-width: 100vmin;
  margin: 20px auto;

  .weather-container {
    background: #333;
    color: #fff;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px #cccbcb;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;

    .top-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        .city {
          font-weight: 700;
          margin: 0;
          line-height: 1;
        }

        .desc {
          font-weight: 500;
          font-size: 14px;
          line-height: 1;
          margin: 0;
        }
      }

      .right {
        width: 100px;
      }
    }

    .bottom-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .temperature {
        font-weight: 700;
        font-size: 70px;
        width: auto;
        letter-spacing: -5px;
        margin: 10px 0;
        margin-right: 20px;
      }

      .details {
        width: 50%;
        padding-right: 20px;

        .row {
          display: flex;
          justify-content: space-between;

          .label {
            text-align: left;
            font-weight: 400;
            font-size: 12px;
            border-left: 2px solid #fff;
            padding-left: 10px;
          }
          .label-details {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            border-left: none;
          }
          .value {
            text-align: right;
            font-weight: 600;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.forecast {
  max-width: 90vw;
  margin: 20px auto;

  .label {
    font-size: 24px;
    font-weight: 700;
  }

  .daily-item {
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    background: #fff;
    display: flex;
    align-items: center;

    .forecast-icon {
      width: 40px;
    }
    .days {
      color: #222;
      flex: 1 1;
      font-weight: 500;
      margin-left: 20px;
    }
    .description {
      flex: 1 1;
      margin-right: 20px;
      text-align: right;
    }
    .min-max {
      color: #999;
    }
  }

  .daily-details {
    grid-row-gap: 0;
    row-gap: 0;
    grid-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex-direction: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    .daily-details-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      .detail-label {
        color: #999;
      }
    }
  }
}
